asyncpg
alembic
boto3
botocore
celery
celery[asyncio]
deepgram-sdk
groq
google-auth
google-auth-oauthlib
google-auth-httplib2
fastapi
fastapi-mail
fastapi[standard]
itsdangerous
passlib[bcrypt]
pydantic
pydantic-settings
pytest
pyjwt
python-socketio
redis
websockets
sqlalchemy
uvicorn
