asyncpg
boto3
google-auth
google-auth-oauthlib
google-auth-httplib2
fastapi
fastapi-mail
fastapi[standard]
itsdangerous
passlib[bcrypt]
pydantic
pydantic-settings
pytest
pyjwt
python-socketio
websockets
sqlalchemy
uvicorn
