asyncpg
asgiref
arq
alembic
cachetools
google-auth
google-auth-oauthlib
google-auth-httplib2
fastapi-mail
resend
google-generativeai
fastapi[standard]
fastapi[websockets]
itsdangerous
httpx
paystack-sdk
passlib
bcrypt==3.2.2
psycopg2-binary
pydantic
pydantic-settings
pytest
pyjwt
python-socketio
redis
requests
websockets
sqlalchemy
uvicorn
pytest-asyncio
motor
cloudinary